img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

body {
  display: block;
  text-align: center;
  background-color: #40E0D0;
  margin: 8px;
  font-family: Helvetica;
}

.funParagraph {
  margin: 5px;
  border: 5px double white;
  border-width: thick;
  background-color: #8FBC8B;
}

#mainHeading {
  margin: 5px;
  border: 5px solid white;
  border-width: medium;
  background-color: #CD5C5C;
  font-size: 75px;
  color: #FFA07A;
}

#headers {
  font-size: 30px;
  color: white;
  display: inline-table; 
  padding: 1px; 
  border: 1px double #CD5C5C; 
  background-color: #FFA07A;
}